<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.text.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.text.demo.helper.TestList"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.text.demo.test.FormattedTextTest"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.LeadingMarginSpan2Test"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.LineBreakTest"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.PlainTextTest"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.QuoteSpanTest"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.ChineseCharacterTest"
            android:theme="@android:style/Theme.Material" />
        <activity android:name="com.text.demo.test.RTLTest"
            android:theme="@android:style/Theme.Material" />
    </application>

</manifest>
